html {
  font-family: 'Helvetice Neue', 'Helvetica', sans-serif;
  font-size: 16px;
}

body {
  color: #333;
  background-color: #f2f3f5;
  counter-reset: post-number-counter;
  line-height: 1.35rem;
  font-weight: 300;
}

a {
  color: #FF8C09;
}

.comment-toggle {
  color: #888;
}



.container {
  max-width: 40rem;
  margin: 0 auto;
}

#header {
  background: #ff6600;
  padding: 1rem 0;
  font-size: 1.15rem;
}
h1#site-title {
  color: white;
  cursor: pointer;
  margin-left: 1rem;
  display: inline-block;
}
#cached-at {
  color: rgba(255,255,255,0.5);
  font-size: 0.85rem;
  margin-left: 0.5rem;
}

#content {
  box-sizing: border-box;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#github-link {
  float: right;
  margin-left: 0.5rem;
  margin-right: 1rem;
}



.rendered-html {
  word-wrap: break-word;
  font-size: 0.95rem;
  padding-bottom: 0.5rem;
}
.rendered-html p, .rendered-html ul {
  margin-top: 0.75rem;
}
.rendered-html pre {
  white-space: pre-wrap;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  word-wrap: break-word;
  font-family: monospace;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-size: 0.85rem;
}
.rendered-html pre code {
  margin-top: 0.75rem;
  font-family: monospace;
}
.rendered-html ul {
  margin-top: 0.75rem;
}
.rendered-html li {
  margin-left: 1rem;
  list-style: disc;
  margin-top: 0.25rem;
}
.rendered-html img {
  margin-top: 0.5rem;
  max-width: 100%;
}
.rendered-html i, .rendered-html em {
  font-style: italic;
}
.rendered-html pre {
  background-color: #eee;
  padding: 0.5rem;
}
.rendered-html h1 { font-size: 1.35rem; margin: 1em 0 }
.rendered-html h2 { font-size: 1.25rem; margin: 1em 0 }
.rendered-html h3 { font-size: 1.15rem; margin: 1em 0 }
.rendered-html h4 { font-size: 1.15rem; margin: 1em 0 }
.rendered-html h5 { font-size: 1.15rem; margin: 1em 0 }



.post {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  position: relative;
}
.post a.title {
  color: #333;
  text-decoration: none;
}
.post .post-details {
  margin-top: 0.25rem;
  color: #777;
  font-size: 0.85rem;
}
.post .post-details .comments-count {
  color: #777;
}

.post .post-number:before {
  counter-increment: post-number-counter;
  content: counter(post-number-counter) ". ";
  font-weight: 700;
  color: #ccc;
  position: absolute;
  top: 50%;
  width: 2rem;
  text-align: center;
  margin-top: -10px;
  font-size: 1.25rem;
}
.post-content {
  margin-left: 2.5rem;
}






/* THREAD VIEW */

#thread {
  padding: 1rem;
}
.thread-op-text {
  color: #aaa;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}


#read-link {
  text-decoration: none;
  color: #FF8C09;
  font-size: 0.85rem;
}

#original-link {
  text-decoration: none;
  color: #FF8C09;
  font-size: 0.85rem;
}



/* COMMENT */

.comment {
  padding-left: 1rem;
  margin-top: 0.75rem;
}
.comments > .comment {
  padding: 0;
}
.comment .comment-details {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #777;
  font-size: 0.85rem;
}
.comment-author {
  color: #333;
  font-weight: 700;
}

.comment-toggle:hover {
  text-decoration: underline;
  cursor: pointer;
}
.comment.kids-shown .comment-toggle::before {
  content: '[-]'
}

.comment.kids-hidden .comment-toggle::before {
  content: '[+' attr(data-kids-count) "]";
}
.comment.kids-hidden .comment-kids { display: none; }
.comment.kids-hidden .rendered-html { display: none; }

.comment-kids {
  border-left: 2px solid #eee;
}



/* ARTICLE VIEW */

#article {
  padding: 1rem;
}
h2#article-title, h2#thread-title {
  font-size: 1.5rem;
  line-height: 1.25em;
  margin-bottom: 1rem;
  color: #555;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#article-header, #thread-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}


#progress-info {
  font-style: italic;
  padding-top: 1rem;
  text-align: center;
}
#progress-bar {
  padding-bottom: 3rem;
}
